


.titlee{
    
    border: 0;
    font-family: 'Open Sans';
    outline: none;
    font-size: .6rem;
    width:95%;
    height: 10%;
    

}

#title{
    font-weight: bold;
}



mat-dialog-content{
    margin: 0;
    padding: 20px;
}

.background{
    border: 1px solid rgba($color: #000000, $alpha: .10);
}









