

<mat-dialog-content fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="3%">
    <div contenteditable="true" id="title" class="title" data-text="Title">{{ title  }}</div>
   
    <div contenteditable="true" id="description" class="title" data-text="Take a note...">{{ description }}</div>

    <div style="width:100%; position:relative ; top:0px"> </div>
    
    <div style="width:100%">        
        <div fxLayout="row"  fxLayoutAlign="space-between center" style="width:100%">  
        <app-reminder ></app-reminder>
        <app-collaborator ></app-collaborator>
        <app-color ></app-color>
        <app-image ></app-image>
        <app-archive ></app-archive>
        <app-unarchive ></app-unarchive>
        <app-more></app-more>
        </div>
    </div>
</mat-dialog-content>
