.container{
    display: block;
    width:600px;
    height: inherit;
    //margin-top: 1%;
    top:-97px;
    left:0px;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    background-color: white;
}


.container1{
    margin-top: 5%;
    padding-bottom: 0;
    width:600px;
    height: 20%;
    margin: 1% auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.30);
    border : 1px solid  rgba(0,0,0,0.10);
    border-radius: 10px;


}