<div class="container" fxLayout="column" fxLayoutGap="20px" fxFlex.lt-md = "1 1 100%">
<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>{{ title }}</div>
    <button mat-button [routerLink]="['/home']" >close</button>
</div>
<mat-divider></mat-divider>
<div>Ask a Question</div>

<div *ngIf="display">
<div [froalaEditor]='options' [formControl]="question"></div>

<div fxFlexAlign="end"><button mat-button color=primary (click)="send()"  >Ask</button>
</div>
</div>
<mat-divider></mat-divider>

<div *ngFor="let q of ques;index as i">
<div fxLayout="row" *ngIf="showComment" fxLayoutGap="6px">
    
    <img class="image" [src]="profilePic"> 
    <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="6px">    
        <div>{{ firstName }} &nbsp; {{ lastName }} &nbsp; {{ date[i] + ','}} &nbsp; {{ time[i] }}</div>

    <mat-icon (click)="showReply(i)">reply</mat-icon>

    <mat-icon *ngIf="! liked[i]" (click)="like(i)">thumb_up_alt</mat-icon>
    <mat-icon *ngIf="liked[i]"color="primary" (click)="like(i)">thumb_up_alt</mat-icon>
    
    <ngb-rating [(rate)]="selected[i]" (hover)="hovered=$event" (click)="rating(i)" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
    <p>{{selected[i]}}</p>
    </div>
    <div [innerHTML]="commentMessage[i]" class="comment"></div>

    </div>


</div>

<div *ngIf="reply[i]">

<div [froalaEditor]='options' [(froalaModel)]="replyMessage"></div>
<div ><button mat-button color=primary (click)="replyy(i)">Reply</button>
</div>
</div>

</div>





