.mat-toolbar{
    background-color : #FFC226;

}

.title{
    width: inherit;
    font-size: 1.5rem;
}







.text{

    margin-top: 50px;
    font-weight: 500;
    font-size: .9rem;

}

a {
    text-decoration: none !important;
    color: blue;
}