<mat-toolbar>
    <div class="title" fxLayout="row" fxLayoutAlign="center center">fundooNotes</div>
    <mat-divider></mat-divider>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card fxLayout="column" fxLayoutAlign="space-around start">
        <div class="heading">price : $99 per month</div>
        <div class="blue">Advance</div>
        <ul>
            <li>$99/month</li>
            <li>Ability to add title,description,images,labels,checklist and colors</li>
        </ul>
    </mat-card>


    <mat-card fxLayout="column" fxLayoutAlign="space-around start">
        <div class="heading">price : $49 per month</div>
        <div class="blue">Basic</div>
        <ul>
            <li>$49/month</li>
            <li>Ability to add only title and description</li>
        </ul>
    </mat-card>
</div>

