.container{
    width:30%;
    height:auto;
    margin: 10% auto;
    
    // border: 1px solid rgba($color: #000000, $alpha: .3);
}

.font{
    font-family: 'Open Sans';
    padding-bottom: 3%;
    padding-top: 3%;
  }

  h2{
    font-size: .9rem;
  }

.size{
    font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
    .container {
      width:auto;
      height:auto ;
      margin:0;
    }

.size{
  font-size: 4rem;


  .email{
    width:100%;
  }
  
  .password{
    width:100%
  }

}
    

}

.email{
 
  width:100%
}

.password{
  width:100%;
}