mat-card{

    margin-top: 4%;
    width:30%;
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.30) !important;

   
}

.container{
    
    width:60%;
    margin: auto;
    height:auto;
   
}


mat-card > div{
    word-break: break-all;

}

.icons{
    color: rgb(134, 131, 131);
    display: none;
    
    
}  


mat-card:hover{
    .icons{
        display: block;
    }
}






