.mat-card{

    margin-top: 2%;
    width:30%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.30) !important;
    min-height: 20%;
    border-radius: 10px;
    border : 1px solid  rgba(0,0,0,0.10);
    margin-bottom: 15px ;

}

.container{
    
    width:800px;
    margin: auto;
    height:100%;

}

#title{
    font-size: 17px;
}






mat-card > div{
    word-break: break-all;
    margin-bottom: 5px ;


}

.icons{
   
    visibility: hidden;
    
} 

.background{
    border: 1px solid rgba($color: #000000, $alpha: .10);
}


mat-card:hover{
    .icons{
        visibility: visible;
        display: block;
    }
}


.user-colab{
    font-size: 20px;
}

.question{
    margin-top:10px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 500px) {
    .container {
      width:auto;
      height:auto;
    }
    .mat-card{
        margin: 1% 2%;
    }
}




