<mat-card class="container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="3%" >

    <mat-card-title class="font" >
        <span style="color:'#4285f4';">F</span>
        <span style="color:'#EA4335';">u</span>
        <span style="color:'#fbbC05';">n</span>
        <span style="color:'#4285f4';">d</span>
        <span style="color:'#34A853';">o</span>
        <span style="color:'#EA4335';">o</span>
    </mat-card-title>

    <mat-card-title class="font size" >Enter your recovery Email</mat-card-title>

    <mat-form-field fxFlexALign="stretch" class="email" appearance="outline">
        <mat-label >Email</mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">Email is required</mat-error>
    </mat-form-field>



    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3%">
        <button mat-raised-button routerLink='/login'>Back</button>
        <button mat-raised-button fxFlexAlign="center" (click)="submit()">Next</button>
    </div>