<div *ngIf="hidden" (click)=hide() > 
<mat-card class="container1"  fxFlex.lt-md = "1 1 96%" fxFlexOffset.lt-md="2%" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3%">
    
    <p>Take a note...</p>
    <div fxLayout="row" fxLayoutGap="15%">
        <mat-icon>view_list</mat-icon>
        <mat-icon>panorama</mat-icon>
    </div>    

</mat-card>
</div>
<div *ngIf="! hidden">
<mat-card class="container" id="container" fxFlex.lt-md = "1 1 96%" fxFlexOffset.lt-md="2%" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="4%">
    

    <div contenteditable="true" id="title" class="title" data-text="Title"></div>
   
    <div contenteditable="true" id="description" class="title" data-text="Take a note..."></div>

    <mat-chip-list fxFlexAlign="start">
        <div *ngFor="let label of labels">
        <mat-chip (removed)="remove(label)" [removable]="removable" [selectable]="selectable">{{label.label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>

        </div>
    </mat-chip-list>
    <div style="width:100%; position:relative ; top:0px"> 
    
    <div fxLayout="row" fxLayoutAlign="space-between center">  
        <app-reminder></app-reminder>
        <app-collaborator></app-collaborator>
        <app-color (color)="getColor($event)"></app-color>
        <app-image></app-image>
        <app-archive (onArchive)=Archive()></app-archive>
        <app-more [newNote]="newNote" (onLabelSelect)="label($event)"></app-more>
        <app-close (onClose)=save($event)></app-close>
    </div>

</div>

</mat-card>
</div>
