.toolbar{
    
    height: 9%;
    margin: 0;
}

.colour{
    background-color: white;
}

.size{
    position: relative;
    width:100px;
    height: 100px;
}

.example-container {
    position: absolute;
    top:10%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    
  }

mat-sidenav{
    padding-top: 4px;
    width:18%;
    border-right : none;
  }


img{
    border-radius: 50%;
    width:30px;
    height: 30px;
}

.side-nav{
    
    width: 90%; 
    height:7%;
    margin: 3px 2px 1px 0 ; 
    cursor: pointer;
   
}


.side-nav:hover{
    width: 99%;
    background-color : #feefc3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 2px;
    
}

.side-nav {
    width: 99%;
    background-color : #ebeae6;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 2px;
    
}

p{
    margin: 0;
}

.search-bar{

    background-color: rgb(241, 237, 237);
    width: 60%;
}

.search-bar > input{
    width: 90%;
    border: 0;
    outline: none;
    margin: 0;
}



@media only screen and (max-width: 500px) {
    mat-sidenav{
      width:70%;
    }

    .search-bar{
      display:none;

      }
}   

mat-divider{
    
    border-top-color:#f3cd5b;

}
.divider{
    margin-top: 8%;
    border-top-color:#f3cd5b;
}

mat-sidenav-content{
   // background-color: #feefc3;;
}


  