<div class="toolbar">

    <mat-toolbar class="colour" fxLayout="row" fxLayoutGap="3%" fxLayout="space-between center">
        <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon></button>
        
        <img src="../../assets/images/keep.jpeg">
        <h2 >fundooNotes</h2>
              
    <mat-card class="search-bar" fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="start center">
        <mat-icon >search</mat-icon>
        <input type="text" placeholder="Search..">
    </mat-card>

        <mat-icon>shopping_cart</mat-icon>
        <img src="../../assets/images/BlankImage.jpg" alt="dp">
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>

<mat-sidenav-container class="example-container" >


        <mat-sidenav #sidenav mode="side">
            <div class="side-nav" fxLayout="row" fxLayoutAlign="start center" (click)=showNotes()>
                <mat-icon fxFlexOffset="3%">emoji_objects</mat-icon>
                <p fxFlexOffset="25%">Notes</p>
            </div>

            <div class="side-nav" fxLayout= "row" fxLayoutAlign="start center" (click)=showRemainders()>
                <mat-icon fxFlexOffset="3%">add_alert</mat-icon>
                <p fxFlexOffset="25%">Remainders</p>
            </div>

            <mat-divider class="divider"></mat-divider>

            <div class="side-nav" style="margin-top:7%;"fxLayout="row" fxLayoutAlign="start center" (click)=showArchive()>
                <mat-icon fxFlexOffset="3%">archive</mat-icon>
                <p fxFlexOffset="25%">Archive</p>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
